.intro {
  font-family: "Gilroy", Arial, serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.5em;
  margin: 0 20px;
  margin-bottom: 40px;
}

.txt-accent {
  display: inline-block;
  background-color: #000000;
  padding: 2px 12px;
  color: #ffffff;

}

.about-me__desc {
  text-align: justify;
  margin: 0 20px;
}

.about-me__desc-item {
  margin: 0 0 10px;
}

.about-me__pic {
  width: 100%;
}
